.row{
    width: 80%;
    min-height: 600px;
    background-color: aqua;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-column-gap:10px;*/
    grid-template-rows: 1fr 2fr;
    grid-gap:10px;
    /*grid-row-gap:10px;*/
}   
.col{
    height: 200px;
    background-color: yellow;
    border: 1px solid black;
}
.row .col:nth-child(1){
    background-color:blueviolet;
  /*  grid-column-start: 1;
    grid-column-end: 3;*/
    grid-row-start: 1;
    grid-row-end: 3;
}
.row .col:nth-child(4){
    background-color:green;
   /* grid-column-start: 2;
    grid-column-end: 4;*/
}